@import './breakpoints.scss';

.about__container {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: $black-color;
    z-index: 2;
}

.about__image {
    width: 100%;
    height: 310px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/Raphael_stage.webp');

    // Media queries
    @include tablet {
        height: 230px;
    }
    @include mobile {
        background-attachment:inherit;
    }
}
.about__image__black__border {
    height: 1px;
    background-color: $white-color;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    &__title__container {
        display: flex;
        flex-direction: column;      
    }

    &__title {
        font-family: $third-font;
        font-style: italic;
        font-size: 50px;
        color: $white-color;
        padding: 20px;
        cursor: none;

        // Media queries
        @include desktop {
            font-size: 45px;
        }
        @include tablet {
            font-size: 35px;
        }
        @include mobile {
            margin-top: 10px;
            font-size: 25px;
        }
    }
    &__border {
        position: relative;
        height: 2px;
        width: 220px;
        background-color: $white-color;
        bottom: 32px;
        left: 10px;

        // Media queries
        @include desktop {
            width: 195px;
            left: 13px;
        }
        @include tablet {
            width: 150px;
            left: 14px;
            bottom: 30px;
        }
        @include mobile {
            width: 110px;
            left: 15px;
            height: 1px;
            bottom: 27px;
        }
  
    }
    &__quote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        width: 75%;

        // Media queries
        @include desktop {
            width: 85%;
        }
        @include tablet {
            margin-bottom: 35px;
        }
        @include mobile {
            margin-bottom: 25px;
        }

    }
    &__text {
        font-family: $text-font;
        font-style: italic;
        font-size: 29px;
        color: $white-color;
        line-height: 40px;
        font-weight: 400;
        padding: 20px 0 0 0;
        cursor: none;

        // Media queries
        @include desktop {
            font-size: 25px;
            line-height: 35px;
            padding: 20px 0 10px 0;
        }
        @include tablet {
            font-size: 20px;
            line-height: 30px;
        }
        @include mobile {
            font-size: 17px;
            line-height: 25px;
            padding: 10px 0 5px 0;
        }
    }
    &__text__styled {
        font-family: $third-font;
        font-size: 29px;
        font-style: italic;
        font-weight: 800;
        cursor: none;

        // Media queries
        @include desktop {
            font-size: 25px;
        }
        @include tablet {
            font-size: 20px;
        }
        @include mobile {
            font-size: 17px;
        }
    }
}

.link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 2px;
    display: block;
    top: 35px;
    right: 0;
    background: $white-color;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;

    // Media queries
    @include desktop {
        top: 30px;
    }
    @include desktop {
        top: 25px;
    }
    @include desktop {       
        display: none;
    }
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: $white-color;
  }


.about__description__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $white-color;
    font-family: $text-font;
    font-size: 22px;
    padding: 30px 0 100px 0;
    width: 75%;

    // Media queries
    @include desktop {
        padding: 10px 0 70px 0;
        width: 85%;
    }
    @include tablet {
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
    }
    @include mobile {
        padding-bottom: 50px;
    }

    &__separator {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 2px;
        background-color: $white-color !important;
        margin: 0 50px;

        @include tablet {
            width: 45%;
            height: 2px;
            margin: 30px 0;
        }
        @include mobile {
            width: 50%;
            height: 1px;
            margin: 20px 0;
        }
    }
    &__text {
        width: 100%;

        //Media queries
        @include desktop {
            font-size: 20px;
        }
        @include tablet {
            font-size: 18px;
        }
        @include mobile {
            padding-top: 5px;
            font-size: 15px;
        }

    }
    &__text2 {
        width: 100%;

        //Media queries
        @include desktop {
            font-size: 20px;
        }
        @include tablet {
            font-size: 18px;
        }
        @include mobile {
            padding: 5px 0 10px 0;
            font-size: 15px;
        }
    }
    &__number {
        font-family: $title-font;
        font-size: 18px;
        margin-right: 10px;
        margin-top: 3px;

        // Media queries
        @include tablet {
            margin-right: 0;
            margin-top: 0;
        }
        @include mobile {
            font-size: 15px;
        }
    }

}

.noise__about::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.05;
    z-index: 0;
    pointer-events: none;
    background: url("../images/noise400.gif");
}

