@import './breakpoints.scss';

// Navbar links animation
.animatedLinks {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    font-weight: 300;
    font-size: 17px;

    // Media queries
    @include desktop {
        font-size: 15px;
    }
    @include tablet {
        font-size: 13px;
    }
    @include mobile {
        font-size: 50px;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scale3d(0, 1, 1);
        transform-origin: right;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:after {
       content: attr(data-text);
       position: absolute;
       bottom: 2px;
       height: 100%; 
       transform: translate3d(150%, 0, 0);
       font-family: $third-font;
       font-size: 18px;

        // Media queries
        @include desktop {
            font-size: 16px;
        }
        @include tablet {
            font-size: 14px;
        }
        @include mobile {
            font-size: 51px;
        }
    }
    & span {
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover:before {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover span {
        transform: translate3d(-150%, 0, 0);
        padding: 0 4px;
    }
}

// Navbar name animation
.animatedMail {
    position: relative;
    display: grid;
    overflow: hidden;
    width: 180%;
    font-weight: 400;

    // Media queries
    @include desktop {
        font-size: 17px;
        right: 20px;
    }
    @include tablet {
        font-size: 14px;
        right: 30px;
    }
    @include mobile {
        font-size: 17px;
        right: 20px;
        bottom: 2px;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scale3d(0, 1, 1);
        transform-origin: right;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:after {
       content: attr(data-text);
       position: absolute;
       width: 49%;
       top: 0;
       right: -10px;
       height: 100%; 
       transform: translate3d(100%, 0, 0);
       transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
       opacity: 0.7;
       font-weight: 300;
       @include tablet {
        width: 50%;
    }
    @include mobile {
        width: 49%;
    }
    }    
    & span {
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover:before {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
        transform-origin: right;       
    }
    &:hover span {
        transform: translate3d(-100%, 0, 0);
    }
}

// Navbar contact button
.animatedButton {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    left: 15px;
    border: none;
    cursor: pointer;
    background: none;
    color: $white-color;
    font-size: 17px;
    font-weight: 300;
    height: 55px;

    // Media queries
    @include desktop {
        font-size: 15px;
        height: 50px;
        left: 35px;
    }
    @include tablet {
        font-size: 13px;
        left: 45px;
    }
    @include mobile {
        font-size: 50px;
        height: auto;
        margin-top: 14px;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: currentColor;
        transform: scale3d(0, 1, 1);
        transform-origin: right;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:after {
       content: attr(data-text);
       position: absolute;
       top: 0;
       height: 100%; 
       transform: translate3d(220%, 0, 0);
       font-size: 35px;

       // Media queries 
       @include desktop {
        font-size: 32px;
    }
    @include tablet {
        font-size: 25px;
        top: 7px;
    }
    @include mobile {
        top: 0;
        font-size: 50px;
    }
    }
    & span {
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover:before {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
        animation: jump-shaking 0.7s 0.3s ease-in-out;
        @keyframes jump-shaking {
            0% { transform: translateX(0) }
            25% { transform: translateY(-5px) }
            35% { transform: translateY(-5px) rotate(17deg) }
            55% { transform: translateY(-5px) rotate(-17deg) }
            65% { transform: translateY(-5px) rotate(17deg) }
            75% { transform: translateY(-5px) rotate(-17deg) }
            100% { transform: translateY(0) rotate(0) }
          }
    }
    &:hover span {
        transform: translate3d(-220%, 0, 0);
    }
}



// Styled text introduction
span.media__text {
    font-size: 35px;
    font-family: $third-font;

    // Media queries
    @include desktop {
        font-size: 30px;
    }
    @include tablet {
        font-size: 25px;
    }
    @include mobile {
        font-size: 22px;
    }
}

// Beautiful animation text
.animatedText {
    position: relative;
    display:inline-flex;
    overflow: hidden;
    font-weight: 300;
    font-size: 35px;
    cursor: pointer;
    font-family: $third-font;

    // Media queries
    @include desktop {
        font-size: 30px;
    }
    @include tablet {
        font-size: 27px;
    }
    @include mobile {
        font-size: 25px;
    }
    

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scale3d(0, 1, 1);
        transform-origin: right;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:after {
       content: attr(data-text);
       position: absolute;
       top: 0;
       height: 100%; 
       transform: translate3d(200%, 0, 0);
    }
    & span {
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
        height: 36px;
        border-bottom: 1px solid $white-color;
        // width: 136px;

        // Media queries
        @include desktop {
            height: 32px;
        }
        @include tablet {
            height: 30px;
        }
    }
    &:hover:before {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover span {
        transform: translate3d(-200%, 0, 0);
        width: 162px;
        height: 36px;

        // Media queries
        @include desktop {
            width: 139px;
            height: 31px;
        }
        @include tablet {
            width: 126px;
            height: 29px;
        }
        @include mobile {
            width: 115px;
            height: 30px;
        }
    }
}


span.animatedText {
    font-family: $third-font;
    font-size: 35px;

    @include desktop {
        font-size: 30px;
    }
    @include tablet {
        font-size: 27px;
    }
    @include mobile {
        font-size: 25px;
    }
}

// Creative animation text
.animatedText2 {
    position: relative;
    display: inline-flex;
    place-items: center;
    overflow: hidden;
    font-weight: 300;
    font-size: 35px;
    cursor: pointer;
    font-family: $third-font;

    // Media queries
    @include desktop {
        font-size: 30px;
    }
    @include tablet {
        font-size: 27px;
    }
    @include mobile {
        font-size: 25px;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform: scale3d(0, 1, 1);
        transform-origin: right;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:after {
       content: attr(data-text);
       position: absolute;
       top: 0;
       height: 100%; 
       transform: translate3d(150%, 0, 0);
    }
    & span {
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
        height: 36px;
        border-bottom: 1px solid $white-color;


        // Media queries
        @include desktop {
            height: 32px;
        }
        @include tablet {
            height: 30px;
        }

    }
    &:hover:before {
        transform: scale3d(1, 1, 1);
        transform-origin: left;
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover span {
        transform: translate3d(-150%, 0, 0);
        width: 119px;
        height: 36px;

        // Media queries
        @include desktop {
            width: 102px;
            height: 30px;
        }
        @include tablet {
            width: 92px;
        }
        @include mobile {
            width: 86px;
        }
    }
}

span.animatedText2 {
    font-family: $third-font;
    font-size: 35px;

    @include desktop {
        font-size: 30px;
    }
    @include tablet {
        font-size: 27px;
    }
    @include mobile {
        font-size: 25px;
    }
}

// Navbar mobile cross animation
.animated__closeDropDown {
    color: $white-color;
    position: relative;
    width: 60px;
}
.animated__closeDropDown.remove {
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.coloredIcon {
    font-size: 35px;
    &:hover {
        animation: coloredIconAnimation 0.2s infinite;
    }
    @keyframes coloredIconAnimation {
        0% {
            text-shadow: 5px 4px #cc0f39, -5px -6px #743cfb,         
        }
        25% {
            text-shadow: -5px -6px #cc0f39, 5px 4px #743cfb;
        }
        50% {
            text-shadow: 5px -4px #cc0f39, -8px 4px #743cfb;
        }
        75% {
            text-shadow: -8px -4px #cc0f39, -5px -4px #743cfb;
        }
        100% {
            text-shadow: -5px 0 #cc0f39, -5px -4px #743cfb;
        }
    }
}






// Animated Button Base
// .animatedButton {
//     position: relative;
//     border: none;
//     cursor: pointer;
//     width: 190px;
//     height: 125px;
//     background: none;
//     color: $white-color;
//     &:before,
//     &:after {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
//     &:before {
//         content: "";
//         background: $white-color;
//         border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
//         clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
//         transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
//     }
//     &:hover:before {
//         clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");

//     }
//     & span {
//         mix-blend-mode: difference;
//     }
//     &:after {
//         content: "";
//         height: 85%;
//         width: 95%;
//         top: 6px;
//         border: 1px solid #fff;
//         border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
//         transform: rotate(-20deg);
//         transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
//     }
//     &:hover:after {
//         transform: translate3d(0, -5px, 0);
//     }
// }