@import "./breakpoints.scss";

.section__contact {
    position: relative;
    padding: 40px;
    width: 100vw;
    height: auto;
    z-index: 0;

    // Media queries
    @include tablet {
        padding: 30px;
    }
    @include tablet {
        padding: 20px;
    }
    @include mobile {
        padding: 20px 20px 0 20px;
    }
}

.border__contact {
    width: 100vw;
    height: 1px;
    background-color: $white-color;
}

.contact__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}

.contact {
    position: relative;
    background: $black-color;
    font-family: $third-font;

    &__header__h2 {
        color: $white-color;
        font-style: italic;
        font-size: 50px;
        padding-top: 10px;

        // Media queries
        @include desktop {
            font-size: 45px;
        }
        @include tablet {
            font-size: 38px;
            padding-top: 30px;
        }
        @include mobile {
            font-size: 25px;
        }
    }
    &__header__border {
        position: relative;
        height: 2px;
        background: $white-color;
        width: 175px;
        bottom: 12px;
        right: 9px;
        margin-bottom: 80px;

        // Media queries
        @include desktop {
            width: 155px;
            bottom: 11px;
            margin-bottom: 40px;
        }
        @include tablet {
            width: 130px;
            bottom: 10px;
            right: 7px;
            margin-bottom: 40px;
        }
        @include mobile {
            width: 85px;
            bottom: 5px;
            height: 1px;
            right: 5px;
            margin-bottom: 35px;
        }

    }
    &__header__title {
        display: flex;
        color: $white-color;
        font-size: 33px;
        font-style: italic;  
        margin-bottom: 70px;
        cursor: pointer;
        border: 1px solid $white-color;
        padding: 3px 25px;
        border-radius: 50px;

        // Media queries
        @include desktop {
            font-size: 25px;
            margin-bottom: 50px;
        }
        @include tablet {
            font-size: 23px;
            margin-bottom: 30px;
            padding: 2px 15px;
        }
        @include mobile {
            font-size: 16px;
            margin-bottom: 15px;
            padding: 2px 10px;
        }
    }
}

.getInTouch__title {
    cursor: pointer;
}

.arrow__back {
    width: 28px;
    margin-left: 15px;

    // Media queries 
    @include desktop {
        width: 23px;
        margin-left: 10px;
    }
    @include tablet {
        width: 18px;
        margin-left: 8px;
    }
    @include mobile {
        width: 15px;
        margin-left: 6px;
    }
}

.form {
    &__info {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 35px;
        font-weight: 500;
        color: $white-color;
        font-family: $third-font;
        font-style: italic;

        
        // Media queries
        @include desktop {
            font-size: 28px;
        }
        @include tablet {
            font-size: 20px;
            margin-bottom: 10px;
        }
        @include mobile {
            font-size: 14px;
            margin-bottom: 0;
        }
        
        input {
            font-size: 35px;
            font-weight: inherit;
            border: none;
            background: transparent !important;
            border-bottom: 1px solid $white-color;
            color: $white-color;
            font-family: $text-font;
            color: rgb(129, 129, 129);
            &:focus {
                outline: none;
            }
            // Media queries
            @include desktop {
                font-size: 28px;
            }
            @include tablet {
                font-size: 20px;
            }
            @include mobile {
                font-size: 14px;
            }
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        margin-bottom: 2rem;
        textarea {
            width: 70%;
            background: transparent;
            border: none;
            border-bottom: 1px solid $white-color;
            font-size: 25px;
            font-family: $text-font;
            resize: none;
            color: rgb(129, 129, 129);
            line-height: 25px;
            margin: 10px 0;
            font-style: italic;
            padding: 5px;
            &:focus {
                outline: none;
                height: 150px;
            }

            // Media queries
            @include desktop {
                font-size: 23px;
            }
            @include tablet {
                font-size: 20px;
                margin: 0;
            }
            @include mobile {
                font-size: 14px;
                line-height: 20px;
                &:focus {
                    outline: none;
                    height: 100px;
                }
            }
        }
        .project__button {
            font-weight: 900;
            font-size: 20px;
            position: relative;
            left: 0;
            margin-left: 45px;

            //Media queries 
            @include desktop {
                margin-left: 35px;
            }
            @include tablet {
                margin-left: 20px;
            }
            @include mobile {
                margin-left: 15px;
            }

            &:before {
                background: rgb(56, 56, 56);
            }
            &:after {
                display: none;
            }
            &:hover:before {
                background-color: $white-color;
            }
            & span {
                position: relative;
                right: 8px;
                bottom: 13px;
                font-style: italic;
                font-size: 24px;
            }
        }
    }
}

.form__flex label {
    cursor: pointer;
}

.contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    // Media queries
    @include tablet {     
        margin: 20px 0 0 0;
        padding-top: 10px;
    }
    @include mobile {     
        padding-top: 0;
    }
}

.contact__form {
    display: flex;
    justify-content: center;
}

.fa-paper-plane {
    padding: 5px;
}