@import "./breakpoints.scss";

// Mouse animation

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999;
    

    // Media queriess
    @include tablet {
        display: none;
    }
}
  
.circle {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

//AVAILABLE STATE
.available {
    position: absolute;   
    top: 6rem;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);

    //Media queries 
    @include tablet {
        transform: translateX(-50%) scale(0.8);
    }
    @include mobile {
        transform: translateX(-50%) scale(0.7);
    }

    &__border {
        width: 280px;
        overflow: hidden;
        border: solid 1px $white-color;
        padding: 0.5rem 3rem;
        display: flex;
        line-break: none;
        border-radius: 50px;
        cursor: pointer;
    }

    &__text {           
        position: relative;
        top: 1px;
        right: 57px;
        font-size: 0.9rem;
        animation: moveleft 9s linear infinite;
    }
}

.available p {
    display: inline-block;
}

.dots {
    width: 8px;
    height: 8px;
    background-color: #bfff07;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    top: -1px;
    left: 4px;
}
  
.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: $white-color;
    overflow: hidden;

    .header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 10;
        
        // Media queries
        @include mobile {
            position: fixed;
            width: 100%;
            height: 55px;
            background-color: $black-color;
        }
        &__name {
            position: absolute;
            left: 40px;
            font-size: 19px;
            padding-top: 18px;
            // Media queries
            @include mobile {
                padding-top: 18px;
            }
        }
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            width: 100%;
            padding-top: 20px;

            @include tablet {
                padding-top: 28px;
            }

            @include mobile {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
                z-index: 99;
                width: 100vw;
                height: 100vh;
                background: $black-color;
                position: absolute;
                padding: 0;
                top: -1200px;
                border-bottom: 1px solid $white-color;
            }
        }
        &__wrapper.active {
            display: flex;
            overflow-y: hidden;
            margin-top: 0;
            animation: dropDown 1s ease-in-out forwards;
            z-index: 9999;

            @keyframes dropDown {
                to {
                    top: 0;
                }
            }
        }
        &__wrapper.remove {
            animation: removeDropDown 1s ease-in-out forwards;

            @keyframes removeDropDown {
                from {
                    top: 0;
                }
                to {
                    top: -1200px;
                }
            }
        }
        &__closeDropDown {
            position: absolute;
            right: 20px;
            top: 17px;
            font-size: 19px;
            font-weight: 300;
            visibility: hidden;
            @include mobile {
                visibility: visible;
            }
        }
        &__left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            & li {
                font-size: 18px;
                font-weight: 700;
            }

            // Media queries
            @include desktop {
                gap: 1rem;
            }
            @include tablet {
                position: absolute;
                right: 81px;
                gap: 0.7rem;
            }
            @include mobile {
                flex-direction: column;
                position: initial;
                padding: 0;
            }
        }
        &__left a {
            //Media queries
            @include mobile {
                font-size: 30px;
            }
        }
        &__right {
            position: absolute;
            right: 50px;

            // Media queries
            @include mobile {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
            }
        }
        &__border {
            height: 1px;
            background-color: $white-color;
            width: 100vw;
            position: absolute;
            top: 60px;
            z-index: -1;

            //Media qeuries
            @include tablet {
                top: 50px;
            }
            @include mobile {
                top: 55px;
            }
        }
    }
}

.overlay__header {
    display: none;

    //Media queries
    @include mobile {
        display: block;
    }
}
.overlay__wrapper {
    display: none;

    //Media queries
    @include mobile {
        display: block;
    }
}

.home {
    display: none;
    
    &.active {
        display: block;
    }

    &.remove {
        display: none;
    }
}

.dropDown {
    display: none;

    // Media queries
    @include mobile {
        display: flex;
        position: absolute;
        right: 20px;
        top: 17px;
    }
    &__hamburger {
        width: 23px;
    }
    &__hamburger.active {
        transform: rotate(-180deg);
        transition: transform 0.3s ease-in-out;
    }
}

.social-content {
    position: relative;
    width: 100%;
}

.socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
    bottom: 10.5rem;
    display: flex;
    align-items: center;
    gap: 1.1rem;

    //Media queries
    @include desktop {
        transform: translateX(-50%) scale(1);
    } 
    @include tablet {
        transform: translateX(-50%) scale(0.9);
    }
    @include mobile {
        transform: translateX(-50%) scale(0.8);
    }
}

.scrollDown {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    bottom: 20px;
    opacity: 0.8;
    transform: translateX(-50%);
    z-index: 0;
    cursor: pointer;

    //Media queries
    @include desktop {
        transform: translateX(-50%) scale(0.95);
    }
    @include tablet {
        transform: translateX(-50%) scale(0.9);
    }
    @include mobile {
        transform: translateX(-50%) scale(0.8);
    }

    &__wheel {
        height: 42px;
        width: 24px;
        border-radius: 10px;
        border: 2px solid $white-color;
        &--inner {
            position: absolute;
            left: 10px;
            margin-top: 5px;
            width: 4px;
            height: 4px;
            background: $white-color;
            border-radius: 50%;
            animation: movingWheel 0.5s linear infinite;
            @keyframes movingWheel {
                0% {
                    top: 1px;
                }
                25% {
                    top: 2px;
                }
                50% {
                    top: 3px;
                }
                75% {
                    top: 2px;
                }
                100% {
                    top: 1px;
                }
            }
        }
    }
    &__arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__arrow {
       width: 15px;
       height: 15px;
       border-right: 2px solid $white-color; 
       border-bottom: 2px solid $white-color; 
       transform: rotate(45deg);
       animation: scrollAnimation 0.3s infinite;
       animation-direction: alternate;
       @keyframes scrollAnimation {
        0% {
            opacity: 0;  
        }
        50% {
            opacity: 0.5;  
        }
        100% {
            opacity: 1;  
        }
       }
    }
}

// Introduction text
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;

    &__global {
        margin-bottom: 30px;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -2;
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__container {
        display: flex;
        padding: 0 50px;

        // Media queries
        @include desktop {
            padding: 0 40px;
        }
        @include tablet {
            padding: 0 30px;
        }
        @include mobile {
            padding: 0 20px;
            justify-content: center;
        }
    }
    &__hey {
        font-family: $third-font;
        font-style: italic;
        font-size: 80px;
        font-weight: 100;
        cursor: none;
        
        // Media queries
        @include desktop {
            font-size: 60px;
        }
        @include tablet {
            font-size: 45px;
        }
        @include mobile {
            font-size: 25px;
        }
    }
    &__title {
        position: relative;
        font-size: 60px;
        font-weight: 300;
        top: 25px;
        left: 12px;
        cursor: none;

        // Media queries
        @include desktop {
            font-size: 40px;
        }
        @include tablet {
            font-size: 30px;
            top: 18px;
        }
        @include mobile {
            font-size: 21px;
            top: 6px;
            margin-bottom: 10px;
            left: 6px;
        }
    }
    &__container--txt {
        padding: 0 50px;
        font-weight: 400;

        // Media queries
        @include desktop {
            padding: 0 40px;
        }
        @include tablet {
            padding: 0 30px;
        }
        @include mobile {
            padding: 0 20px;
        }
    }
    &__text {
        font-size: 30px;
        font-weight: 300;
        line-height: 40px;
        cursor: none;

        // Media queries
        @include desktop {
            font-size: 25px;
        }
        @include tablet {
            font-size: 20px;
            line-height: 35px;
        }
        @include mobile {
            font-size: 17px;
            line-height: 30px;
            text-align: center;
        }
    }
}


