@import "./breakpoints.scss";

.projects-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $black-color;
    overflow: hidden;
    cursor:grab;
    z-index: 1;

    //Media queries
    @include tablet {
        height: calc(85vmin + 130px);
    }
    @include mobile {
        height: calc(75vmin + 250px);
    }
}
.projects-container:active {
    cursor: grabbing;
}

.projects-border {
    width: 100vw;
    height: 1px;
    background-color: $white-color;
}

[id="image-track"]
{
    display: flex;
    gap: 2vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */

    //Media queries
    @include mobile {
        gap: 3vmin;
    }
}

.projects__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;

    &__h2 {
        font-family: $third-font;
        font-style: italic;
        font-size: 50px;

        // Media queries
        @include desktop {
            font-size: 45px;
        }
        @include tablet {
            font-size: 38px;
        }
        @include mobile {
            font-size: 25px;
        }
    }

    &__border {
        position: relative;
        height: 2px;
        width: 185px;
        background-color: $white-color;
        bottom: 5px;
        right: 12px;

        // Media queries
        @include desktop {
            width: 156px;
        }
        @include tablet {
            width: 133px;
            right: 10px;
        }
        @include mobile {
            height: 1px;
            width: 90px;
            right: 6px;
            bottom: 3px;
        }
    }
}

.projects__advice {
    position: relative;
    margin-top: 50px;
    font-size: 25px;
    font-family: $third-font;
    font-style: italic;
    user-select: none;
    animation: swipe 6s ease-in-out infinite;

    @keyframes swipe {
        0% {
            opacity: 0;
        }
        5% {
            left: 0;
        }
        25% {
            left: -80px;
            opacity: 0.6; 
        }
        50% {
            opacity: 0; 
            left: 0; 
        }
        55% {
            left: 0;
        }
        75% {
            opacity: 0.6; 
            left: 80px;
        }
        100% {
            opacity: 0;
            left: 0;
        }
    }

    //Media queries
    @include tablet {
        display: none;
    }
}

.chevron {
    font-size: 40px;
    position: relative;
    display: flex;
    align-self: center;
    animation: blinking 2s ease-in-out infinite;
    color: $white-color;

    //Media queries
    @include tablet {
        font-size: 30px;
    }
    @include mobile {
        font-size: 22px;
        top: 20px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}

.overlay-container {
    position: relative;
    width: 40vmin;
    height: 56vmin;

    //Media queries
    @include mobile {
        width: 45vmin;
        height: 77vmin;
        top: 20px;
    }
}

.overlay-container:hover {
    transform: scale(1.05);
}

.overlay-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;
    border-radius: 10px;
}

.project-overlay {
    position: absolute;
    background-color: $black-color;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    &:hover {
        opacity: 0.6;
    }
}

.fa-plus {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: grey;

    // Media queries
    @include tablet {
        font-size: 40px;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    z-index: 999;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black-color;
        opacity: 0.8;
        cursor: pointer;
        z-index: 999;
    }

    &__container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80vw;
        height: auto;
        background-color: $white-color;
        z-index: 9999;
        opacity: 1;
        border-radius: 20px;
        padding: 45px;
        cursor: default;

        // Media queries
        @include desktop {
            width: 90vw;
            padding: 40px;
        }
        @include tablet {
            padding: 30px;
        }
        @include mobile {
            width: 100vw;
            padding: 20px;
        }
    }

    &__container__title {
        display: flex;
        color: $black-color;
        font-family: $third-font;
        font-style: italic;
        font-size: 45px;
        width: fit-content;
        border-bottom: 2px solid $black-color;
        height: 63px;

        // Media queries
        @include desktop {
            font-size: 40px;
            height: 56px;
        }
        @include tablet {
            font-size: 30px;
            height: 41px;
            border-bottom: 1px solid $black-color;
        }
        @include mobile {
            font-size: 22px;
            margin-right: 30px;
            height: 31px;
        }
    }

    &__container__description {
        display: flex;
        color: $black-color;
        font-family: $text-font;
        font-size: 20px;
        flex-shrink: 1;
        margin-top: 10px;
        margin-bottom: 40px;

        align-items: center;

        // Media queries
        @include desktop {
            font-size: 17px;
            margin-bottom: 0;
        }
        @include tablet {
            font-size: 16px;
        }
        @include mobile {
            font-size: 13px;
        }
    }

    &__container__image__container {
        display: flex;
        width: 60%;
        height: auto;
        position: relative;
        top: 60px;

        @include tablet {
            width: 100%;
            margin: 30px 0 10px 0;
            top: 0;
        }
    
    }

    &__container__image__container img{
        width: 100%;
        height: auto;
        object-fit: contain; 
    }

    &__container__button--container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        bottom: 50px;
        width: 100%;
        gap: 30px;

        // Media queries
        @include desktop {
            padding-top: 30px;
            gap: 20px;
        }
        @include tablet {
            padding-top: 15px;
            gap: 0;
        }
    }

    &__container__button--container a{

        //Media queries
        @include desktop {
            width: 125px;
        }
        @include tablet {
            width: 100px;
            height: 90px;
            margin-bottom: 15px;
        }
        @include mobile {
            width: 90px;
            margin-bottom: 19px;
        }
    }
}

.booki__button {
    padding: 10px 0 0 0;
}

.description__image__container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;

    align-items: center;


    // Media queries
    @include desktop {
        margin-top: 20px;
    }
    @include tablet {
        flex-direction: column;
        gap: 0;
        align-items: center;
        margin-top: 10px;
    }
}

.containerTitle {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 35%;

    @include tablet {
        width: 100%;
        gap: 15px;
    }
    @include mobile {
        gap: 5px;
    }
}


.tags__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 10px;

    //Media queries
    @include mobile {
        gap: 5px;
    }

    &__layout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 35px;
        border-radius: 50px;
        background-color: rgb(70, 70, 70);
        border: 1px solid rgb(46, 46, 46);

        // Media queries
        @include desktop {
            width: 90px;
            height: 30px;
            font-size: 15px;
        }
        @include tablet {
            width: 85px;
            height: 30px;
            font-size: 13px;
        }
        @include mobile {
            width: 65px;
            height: 23px;
            font-size: 10px;
        }
    }
    &__layout--tags {
        color: $white-color;
        text-align: center;
        padding: 2px;
    }
}

// Animated Button Base
.project__button {
    position: relative;
    border: none;
    cursor: pointer;
    width: 190px;
    height: 125px;
    background: none;
    color: $white-color;
    transform: scale(0.9);
    right: 10px;

    // Media queries
    @include desktop {
        transform: scale(0.8);
        left: -20px;
    }
    @include tablet {
        transform: scale(0.6);
        left: -38px;
        bottom: 10px;
    }
    @include mobile {
        transform: scale(0.5);
        left: -47px;
        bottom: 23px;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        content: "";
        background: $black-color;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
        transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
    }
    &:hover:before {
        clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-1.5 120.5,4 C182,13.5 169,58 143,77 Z");
    }
    & span {
        mix-blend-mode: difference;
    }
    &:after {
        content: "";
        height: 80%;
        width: 90%;
        top: 7px;
        border: 1px solid $black-color;
        border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
        transform: rotate(-20deg);
        transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
    }
    &:hover:after {
        transform: translate3d(0, -5px, 0);
    }

    &__text {
        position: absolute;
        top: 40px;
        left: 50px;
        font-size: 20px;
        text-align: center;
    }
}

.modal-cross {
    position: absolute;
    width: 55px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    filter: invert(97%) sepia(0%) saturate(7482%) hue-rotate(90deg) brightness(108%) contrast(102%);

    // Media queries
    @include desktop {
        width: 50px;
        top: 20px;
        right: 20px;
    }
    @include tablet {
        width: 40px;
        top: 15px;
        right: 15px;
    }
    @include mobile {
        width: 45px;
        top: 10px;
        right: 10px;
    }
}

// Live icon and animation

.buttonsGlobal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    //Media queries
    @include desktop {
        flex-direction: row-reverse;
    }
    @include tablet {
        margin: 15px 0 10px 0;
        gap: 25px;
    }
    @include mobile {
        margin: 15px 0 10px 0;
        gap: 20px;
    }
}

.buttonsGlobal a {
    height: auto;
}

.liveContainer {
    display: inline-block;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 50px;
    padding: 8px 15px;
    cursor: pointer;
    box-shadow: 3px 3px 4px rgb(92, 92, 92);
    background-color: rgb(236, 236, 236);
    
    //Media queries
    @include desktop {
        margin: 10px 0 10px 0;
        padding: 7px 11px;
    }
    @include tablet {
        margin: 5px 0 20px 0;
        padding: 7px 10px;
    }
    @include mobile {
        margin: 0 0 20px 0;
    }
}

.liveContainer:hover {
    position: relative;
    box-shadow: none;
    top: 3px;
    left: 3px;
    color: rgb(66, 66, 66)
    // background-color: rgb(223, 223, 223);
}

.liveButton {
    color: rgb(53, 52, 52);
    font-family: $text-font;
    font-weight: bold;

    //Media queries
    @include desktop {
        font-size: 15px;
    }
    @include tablet {
        display: contents;
        font-size: 13px;
    }
    @include mobile {
        font-size: 12px;
    }
}

.live-icon {
    display: inline-block;
    position: relative;
    background-color: red;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border: 1px solid rgba(black, 0.2);
    border-radius: 50%;
    z-index: 1;
    &:before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(red, 0.8);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: live 2s ease-in-out infinite;
      z-index: -1;
    }

    //Media queries
    @include desktop {
        transform: scale(0.9);
    }
    @include tablet {
        transform: scale(0.8);
    }
    @include mobile {
        transform: scale(0.7);
        margin-left: 5px;
        top: 1px;
    }
  }
  
  @keyframes live {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(3.5, 3.5);
      background-color: rgba(red, 0);
    }
}

.githubLink {
    display: flex;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    box-shadow: 3px 3px 4px rgb(92, 92, 92);
    padding: 5px 25px;
    flex-direction: row-reverse;


    //Media queries
    @include desktop {
        padding: 3.5px;
    }
    @include tablet {
        padding: 1.5px 0;
    }
    @include mobile {
        padding: 2px;
    }
}

.githubLink:hover {
    position: relative;
    box-shadow: none;
    top: 3px;
    left: 3px;
    transform: scale(0.98);

    .githubIcon {
        color: rgb(66, 66, 66);
    }

    .githubButton {
        color: rgb(66, 66, 66);
    }
}

.githubIcon {
    color: rgb(53, 52, 52);
    font-size: 30px;
    display: flex;

    //Media queries
    @include desktop {
        font-size: 30px;
    }
    @include tablet {
        font-size: 30px;
    }
    @include mobile {
        font-size: 27px;
    }
}

.githubButton {
    color: rgb(53, 52, 52);
    font-family: $text-font;
    display: flex;
    align-items: flex-end;
    margin-right: 7px;
    font-weight: bold;

    //Media queries
    @include desktop {
        font-size: 15px;
    }
    @include tablet {
        font-size: 13px;
    }
    @include mobile {
        font-size: 12px;
    }
    
}