@import "./breakpoints.scss";


.skills {
  display: flex;
  flex-direction: column;
  // height: 100vh;
    // height: 800px;
    background-color: $black-color;
    z-index: 0;
    overflow: hidden;
    text-align: center;

    // Media queries
    // @include desktop {
    //   height: 730px;
    // }
    // @include tablet {
    //   height: 580px;
    // }
    // @include mobile {
    //   height: 455px;
    // }
    &__text {
      position: relative;
      display: flex;
      width: 100%;
      height: 140px;

      @include desktop {
        height: 110px;
      }
      @include tablet {
        height: 90px;
      }
      @include mobile {
        height: 68px;
      }
    }
    &__text__p {
        position: absolute;
        white-space: nowrap;
        color: $white-color;
        font-size: 30px;

        // Media queries 
        @include desktop {
          font-size: 25px;
        }
        @include tablet {
          font-size: 20px;
        }
        @include mobile {
          font-size: 15px;
        }
    }
    &__text--left {
        display: flex;
        flex-direction: row;
        gap: 18px;
        top: 15px;
        font-family: $third-font;
        font-style: italic;
        animation: moveleft 30s linear infinite;

        // Media queries 
        @include desktop {
         top: 10px;
         gap: 15px;
        }
        @include tablet {
          gap: 10px;
        }
        @include mobile {
          top: 7px;
          gap: 7px;
        }

        @keyframes moveleft {
            0% {
                transform: translate3d(0, 0, 0);
            }
            100% {
                transform: translate3d(-50%, 0, 0);
            }
        }
    }
    &__text--right {
        display: flex;
        flex-direction: row;
        gap: 20px;
        right: 0;
        top: 75px;
        font-family: $third-font;
        font-style: italic;
        animation: moveright 30s linear infinite;

        // Media queries 
        @include desktop {
          top: 60px;
          gap: 15px;
        }
        @include tablet {
          top: 50px;
          gap: 10px;
        }
        @include mobile {
          top: 37px;
        }

        @keyframes moveright {
            0% {
                transform: translate3d(0, 0, 0);
            }
            100% {
                transform: translate3d(50%, 0, 0);
            }
        }
    }
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    &__header__text {
        position: relative;
        font-family: $third-font;
        font-style: italic;
        font-size: 50px;
        color: $white-color;
        z-index: 2;
        top: -5px;
        padding-top: 15px;

        // Media queries
        @include desktop {
          font-size: 45px;
        }
        @include tablet {
          font-size: 38px;
        }
        @include mobile {
          font-size: 25px;
          padding-top: 10px;
        }
    }
    &__header__border {
        position: relative;
        background-color: $white-color;
        height: 2px;
        width: 195px;
        right: 12px;
        bottom: 11px;

        // Media queries
        @include desktop {
          width: 175px;
        }
        @include tablet {
          width: 150px;
          right: 10px;
        }
        @include mobile {
          height: 1px;
          width: 98px;
          right: 7px;
        }
    }
}
.skills__border {
    width: 100%;
    height: 1px;
    background-color: $white-color;

    // // Media queries
    // @include desktop {
    //   top: 110px;
    // }
    // @include tablet {
    //   top: 92px;
    // }
    // @include mobile {
    //   top: 66px;
    // }
}

.skills__text__content {
  border: 2px solid $white-color;
  padding: 0px 30px;
  border-radius: 50px;

  // Media queries
  @include desktop {
    padding: 0 25px;
  }
  @include tablet {
    padding: 0 20px;
  }
  @include mobile {
    padding: 0 15px;
    border: 1px solid $white-color;
  }
}

.skills-container {
  @include tablet {
    height: 400px;
  }
  @include mobile {
    height: 290px;
  }
}

// Pyramid section skills
.section-skills {
  position: absolute;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
    width: 100%;
    height: auto;
    transform: rotate(-90deg);

    // Media queries
    @include tablet {
      bottom: 120px;
      transform: scale(0.7) rotate(-90deg);
    }
    @include mobile {
      bottom: 170px;
      transform: scale(0.54) rotate(-90deg);
    }
  }
  .wall {
    display: flex;
  }
  .v-boxes {
    display: flex;
    flex-direction: column;
    &:not(:first-child){
      margin-left: -75px;
    }
  }
  .second {
    margin-top: 75px;
  }
  .third {
    margin-top: 150px;
  }
  .forth {
    margin-top: 225px;
  }
  .box {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 25px;
    cursor: pointer;
    &:hover{
     &:not(.links) > .box-face, > .box-back {
       transform: translateZ(100px) rotateX(180deg);
       background-color: transparent!important;
      }
      &:not(.links) > .box-face > .box-text {
        opacity: 0;
      }
      & .tooltip {
        visibility: visible;
        opacity: 1;
      }
      &.links > .box-face {
        background-color: transparent!important;
        & > .box-text {
          color: #323232;
        }
      }
    }
    
    &.links {
      & > .box-face {
        background-color: #323232;
        border: 1px solid #323232;
        box-sizing: border-box;
        transition: background-color .5s;
      }
      &.links:hover {
        background-color: #dedede;;
      }
      & .box-text {
        color: #efefef;
        transition: color .5s;
      }
    }
    
  }
  
  .box-face, .box-back {
    position: absolute;
    top:0;
    z-index:1;
    width: 100px;
    height: 100px;
    background-color: #dedede;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate-(90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-style: preserver-3d;
    -webkit-transform-style: preserver-3d;
    -moz-transform-style: preserver-3d;
    transition: transform 1s, background-color 0s .3s;
  }
  
  .box-face .box-text {
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: #bababa;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    transition: opacity 0s linear .3s;
  }
  
  .box-back .box-text {
    line-height: 100px;
    text-align: center;
    font-size: 12px;
    color: #636363;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(135deg) rotateY(180deg);
    transition: opacity 0s linear .3s;
  }
  
  .box-back {
    z-index:0;
    background-image: linear-gradient( #fff, #efefef);
  }
  
  .box-text img {
    max-width: 32px;
    max-height: 32px;
    -webkit-filter: grayscale(100%) saturate(0);
    filter: grayscale(100%) saturate(0);
    opacity: .5;
  }

  .fa-envira {
    transform: rotate(45deg);
  }

  .box8 {
    z-index: 2;
  }
  .box9 {
    z-index: 2;
  }
  
  .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 25px;
    left: 0px;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.8);
    padding: 5px 0;
    z-index: 1000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: visibility 0s linear .3s, opacity 1s linear .3s;
  }

  .box8 span {
    font-size: 13.5px;
  }
  
  .tooltip:after {
    position: absolute;
    top: -5px;
    left: 35px;
    content:' ';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
