@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Neue Montreal Regular';
    src: url('../fonts/neue-montreal/NeueMontreal-Regular.otf') format('otf');
}
@font-face {
    font-family: 'Neue Montreal Light';
    src: url('../fonts/neue-montreal/NeueMontreal-Light.otf') format('otf');
}


// Font
$text-font: 'Neue Montreal Regular', sans-serif;
$text-font-light : 'Neue Montreal Light', sans-serif;
$title-font: 'Abril Fatface', sans-serif;
$third-font: 'Playfair Display', serif;

// Color
$white-color: #FFFFFF;
// $black-color: #0e0e0e;
$black-color: #111111;
$green-color: #5fcf77;
