@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


// Font
$title-font: 'Neue Montreal', sans-serif;
$title-font2: 'Abril Fatface', sans-serif;
$text-font: 'Noto Sans JP', sans-serif;
$third-font: 'Playfair Display', serif;
$loader-font: 'Pattaya', sans-serif;

// Color
$white-color: #FFFFFF;
// $black-color: #0e0e0e;
$black-color: #151515;;
$green-color: #5fcf77;
